modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace/asset-connector-main/Asset-Connector && npm run server:dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5002
externalPort = 3002

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3001

[userenv]

[userenv.shared]
EXPO_PUBLIC_API_BASE_URL = "https://d920424f-8dac-40e8-bc3f-ea3b97a7f63b-00-1c97s21p1hrgi.sisko.replit.dev"
EXPO_PUBLIC_DOMAIN = "d920424f-8dac-40e8-bc3f-ea3b97a7f63b-00-1c97s21p1hrgi.sisko.replit.dev"
MONGODB_URI = "mongodb+srv://alkabyahyth4_db_user:Alakipe_20035@cluster0.pwh7yys.mongodb.net/medical_app?retryWrites=true&w=majority"
TELEGRAM_BOT_TOKEN = "8792312656:AAGac4e9DVegpiRO-3bR9zTReG6IqEXuUFw"
